/*/ start count stats /*/
section#counter-stats {
    display: flex;
    justify-content: center;
  }
  
  .stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
  }
  /*/ end count stats /*/

  .dash_container{
    width: 80%;
    margin: auto;
  }
  /* Custom Layout */
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: $bgreen;
}
  a{
    cursor: pointer;
    text-decoration: none !important;
    color: $btext;
  }

  .row.row-deck > div > .block {
    min-width: 100%;
  }

  .block {
    margin-bottom: 1.875rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(216, 223, 227, 0.5), 0 1px 2px rgba(216, 223, 227, 0.5);
  }
  .block.block-rounded {
    border-radius: 0.25rem;
  }
  .block-content {
    transition: opacity .25s ease-out;
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 1.25rem 1px;
    overflow-x: visible;
  }
  .block-content.block-content-full {
    padding-bottom: 1.25rem;
  }
  .block.block-rounded > .block-content:first-child {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;
    
    transition: opacity .25s ease-out, transform .25s ease-out;
  }
  .item.item-rounded {
    border-radius: 0.25rem;
  }

  .bg-body {
    background-color: #edf0f2 !important;
  }

  .color_link:hover{
    color:$bgreen !important;
  }

  
    /* Orders Table */

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f1f4f5;
  }
  .bg-success-light {
    background-color: #bff0dd !important;
  }
  .bg-danger-light {
    background-color: #fbeaea !important;
  }