.site_footer{

    background: $bgreen;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $bgreen, $blgreen, $bgreen);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $bgreen, $blgreen, $bgreen); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    .social_icons{
        a{
            text-decoration: none;
            color: white;
                            &:hover{
                    transform: scale(1.1);
                }

            i{
                font-size: 2rem;
                &:hover{
                    transform: scale(1.3);
                    color: #088eff;
                }
            }
        }
    }
}

#mailto{
    font-size: 0.9rem; 
    font-weight: 700;
}

#mailto:hover{
    transform: scale(1.3) !important;
    color: #088eff !important;
}