// common caracteristics Login&Register form
.form-button{
    background-color: $bgreen;
}

// Login Form
.card-body{
    font-size: 12px;
}

.logo-icon{
    padding-right: 24px;
}

.login-icon{
    color: #45BB67;
    font-size: 9rem;
}
